MONITOR_BOT_TOKEN=
MONITOR_ALLOWED_IDS=
MONITOR_SCRIBE_API=http://127.0.0.1:8000
# Legacy: MONITOR_TRANSCRIBER_API still supported
MONITOR_CPV_UNITS=cpv-bot.service,cpv-api.service
MONITOR_VPN_IFACE=awg0
